 <!--Footer-->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>ABOUT</h4>
                            <p>Lorem ipsum dolor sit amet sectetuer esl adipiscing elit sed diam nonummy nibhi euismod tincidunt ut <span class="col">laoreet dolore</span> amet magna aliquam erat volutpat. </p>
                            <p>Ut wisi enim ad minim veniam quis dest nostrud exerci tation ullamcorper norme
                                suscipit lobortis commodo consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>PREMIUM ADs</h4>

                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg1_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>


                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg2_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>


                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg3_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>


                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg4_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>


                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg5_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>


                            <div class="footer-img">
                                <a href="#"><img src="images/images/footerimg6_03.png" alt="premium"></a>
                                <a href="#" class="footer-img-hover"><span>148$</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>LATEST ADs</h4>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 latest">
                                    <div class="footer-img">
                                        <img src="images/images/footerimg1_03.png" alt="premium">
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8 col-sm-8">
                                    <a href="#">M26r Car 2014</a>
                                    <ul>
                                        <li>$40,000</li>
                                        <li>Condition 10/10 & fully original all parts...</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 latest">
                                    <div class="footer-img pull-left">
                                        <img src="images/images/footerimg4_03.png" alt="premium">
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8 col-sm-8">
                                    <a href="#">F39r Car 2013.</a>
                                    <ul>
                                        <li>$59,000</li>
                                        <li>Black color & condition is 99.99%. Even no scratch...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>NEWSLETTER</h4>
                            <p class="sign">Lorem ipsum dolor sit amet sectetuer in adipiscing elit sed diam...</p>
                            <p class="sign">Sign up for the newsletter !</p>
                            <form method="post">
                                <input type="email" name="email" placeholder="Your email address...">
                                <input type="submit" name="submit" value="sign-up">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-center">
                            <p>@ All Copyrights Reseverd 2014 - Design & Development by <a class="col" href="http://joinwebs.com/">Joinwebs</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </footer>
    </section>
    <!--End Footer-->

    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="controllers/index.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/default.js"></script>
    <script src="layerslider/js/greensock.js"></script>
    <script src="layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="layerslider/js/layerslider.transitions.js"></script>



</body>
</html>