<% include header.ejs %>

<div ng-controller="homeCtrl">
<!--search bar-->
    <section id="searchBar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <input class="keyword" type="text" name="keyword" placeholder="Enter Keyword Here...">
                        <div class="label">
                            <select class="select">
                                <option>Fashion</option>
                                <option>House</option>
                                <option>Electronics</option>
                            </select>
                        </div>
                        <div class="label">
                            <select class="select">
                                <option>Location</option>
                                <option>USA</option>
                                <option>UK</option>
                            </select>
                        </div>
                        <a href="#" class="location">
                            <i class="fa fa fa-location-arrow "></i>
                        </a>
                        <div class="location-tip">
                            <span class="location-range">499 km</span>
                        </div>
                        <button type="submit" name="submit" class="search-btn">Go Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section> <!--end search bar-->
  <!--Premium Advertisement-->
      <section id="premium">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-heading text-center">
                        <h2>PREMIUM ADVERTISEMENT</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel">
                    <div class="item">
                        <a href="#"><img src="images/images/carou1_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Old Car</a></div>
                        <a href="#" class="item-hover"><span>$199</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou2_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Expensive Car</a></div>
                        <a href="#" class="item-hover"><span>$299</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou3_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Antique things for sale</a></div>
                        <a href="#" class="item-hover"><span>$499</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou4_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Creative Tattos</a></div>
                        <a href="#" class="item-hover"><span>$99</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou1_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Old Car</a></div>
                        <a href="#" class="item-hover"><p>$199</p></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou1_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Old Car</a></div>
                        <a href="#" class="item-hover"><span>$199</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou2_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Expensive Car</a></div>
                        <a href="#" class="item-hover"><span>$299</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou3_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Antique things for sale</a></div>
                        <a href="#" class="item-hover"><span>$499</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou4_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Creative Tattos</a></div>
                        <a href="#" class="item-hover"><span>$99</span></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="images/images/carou1_03.png" alt="carousel"></a>
                        <div class="item-title"><a href="#">Old Car</a></div>
                        <a href="#" class="item-hover"><span>$199</span></a>
                    </div>
                </div><!--end carousel-->
            </div>
        </div>
    </section><!--End Premium Advertisement-->

    <!--Category-->
    <section id="categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-heading text-center">
                        <h2>CATEGORIES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="category">
                        <div class="category-icon">
                            <i class="fa fa-mobile fa-2x"></i>
                        </div>
                        <h4><a href="#">MOBILES</a></h4>
                       <p ng-repeat="val in mobile"> <a href="/{{val.Name}}">{{val.Name}} ( {{val.Quantity}} )</a></p>
                     </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category">
                        <div class="category-icon">
                            <i class="fa fa-laptop fa-2x"></i>
                        </div>
                        <h4><a href="#">COMPUTER</a></h4>
                       <p ng-repeat="val in computer"> <a href="/{{val.Name}}">{{val.Name}} ( {{val.Quantity}} )</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category">
                        <div class="category-icon">
                            <i class="fa fa-truck fa-2x"></i>
                        </div>
                        <h4><a href="#">VEHICLES</a></h4>
                        <p ng-repeat="val in vehicles"> <a href="/{{val.Name}}">{{val.Name}} ( {{val.Quantity}} )</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="category">
                        <div class="category-icon">
                            <i class="fa fa-lightbulb-o fa-2x"></i>
                        </div>
                        <h4><a href="#">ANIMALS</a></h4>
                        <p ng-repeat="val in animals"> <a href="/{{val.Name}}">{{val.Name}} ( {{val.Quantity}} )</a></p>
                    </div>
                </div>
                
            </div>
           <!-- <div class="row">
                <div class="col-md-12">
                    <div class="advert">
                        <a href="#"><img src="images/images/ad_03.png" alt="ad"> </a>
                    </div>
                </div>
            </div>-->
        </div>
    </section><!--End Category-->

    <!--Classify Advertisement-->
  <!--<section id="advertisement">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-heading text-center">
                        <h2>CLASSIFY ADVERTISEMENT</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ad-tabs">
                        <span class="tab active" id="content1">Latest Ads</span>
                        <span class="tab" id="content2">Most Popular Ads</span>
                        <span class="tab" id="content3">Random Ads</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 content content1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads1_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Red Bike</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$4,000</span>
                                    <i class="fa fa-motorcycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads2_03.png"></a>
                                <div class="ads-title"><p><a href="#">Writter Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-laptop fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads3_03.png"></a>
                                <div class="ads-title"><p><a href="#">Creative Tattos</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-heart fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads4_03.png"></a>
                                <div class="ads-title"><p><a href="#">Branding on demand</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$3,000</span>
                                    <i class="fa fa-cog fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads5_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$15,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads6_03.png"></a>
                                <div class="ads-title"><p><a href="#">Bike for kids</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-bicycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads7_03.png"></a>
                                <div class="ads-title"><p><a href="#">Expensive Red Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads8_03.png"></a>
                                <div class="ads-title"><p><a href="#">Black Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads9_03.png"></a>
                                <div class="ads-title"><p><a href="#">Food Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-birthday-cake fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads10_03.png"></a>
                                <div class="ads-title"><p><a href="#">Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$7,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads11_03.png"></a>
                                <div class="ads-title"><p><a href="#">Iphone 10 month warranteed</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,200</span>
                                    <i class="fa fa-mobile fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads12_03.png"></a>
                                <div class="ads-title"><p><a href="#">Dogie for sale urgent</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-phone fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content content2">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads1_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Red Bike</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$4,000</span>
                                    <i class="fa fa-motorcycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads2_03.png"></a>
                                <div class="ads-title"><p><a href="#">Writter Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-laptop fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads3_03.png"></a>
                                <div class="ads-title"><p><a href="#">Creative Tattos</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-heart fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads4_03.png"></a>
                                <div class="ads-title"><p><a href="#">Branding on demand</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$3,000</span>
                                    <i class="fa fa-cog fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads5_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$15,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads6_03.png"></a>
                                <div class="ads-title"><p><a href="#">Bike for kids</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-bicycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads7_03.png"></a>
                                <div class="ads-title"><p><a href="#">Expensive Red Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads8_03.png"></a>
                                <div class="ads-title"><p><a href="#">Black Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads9_03.png"></a>
                                <div class="ads-title"><p><a href="#">Food Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-birthday-cake fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads10_03.png"></a>
                                <div class="ads-title"><p><a href="#">Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$7,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads11_03.png"></a>
                                <div class="ads-title"><p><a href="#">Iphone 10 month warranteed</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,200</span>
                                    <i class="fa fa-mobile fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads12_03.png"></a>
                                <div class="ads-title"><p><a href="#">Dogie for sale urgent</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-phone fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content content3">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads1_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Red Bike</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$4,000</span>
                                    <i class="fa fa-motorcycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads2_03.png"></a>
                                <div class="ads-title"><p><a href="#">Writter Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-laptop fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads3_03.png"></a>
                                <div class="ads-title"><p><a href="#">Creative Tattos</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-heart fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads4_03.png"></a>
                                <div class="ads-title"><p><a href="#">Branding on demand</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$3,000</span>
                                    <i class="fa fa-cog fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads5_03.png"></a>
                                <div class="ads-title"><p><a href="#">Classic Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$15,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads6_03.png"></a>
                                <div class="ads-title"><p><a href="#">Bike for kids</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-bicycle fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads7_03.png"></a>
                                <div class="ads-title"><p><a href="#">Expensive Red Car</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$5,000</span>
                                    <i class="fa fa-cab fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads8_03.png"></a>
                                <div class="ads-title"><p><a href="#">Black Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads9_03.png"></a>
                                <div class="ads-title"><p><a href="#">Food Available 24/7</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$500</span>
                                    <i class="fa fa-birthday-cake fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads10_03.png"></a>
                                <div class="ads-title"><p><a href="#">Sun Glasses</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$7,000</span>
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads11_03.png"></a>
                                <div class="ads-title"><p><a href="#">Iphone 10 month warranteed</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$1,200</span>
                                    <i class="fa fa-mobile fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 adp">
                            <div class="ads">
                                <a href="#"><img src="images/images/ads12_03.png"></a>
                                <div class="ads-title"><p><a href="#">Dogie for sale urgent</a></p></div>
                                <a href="#" class="ads-hover">
                                    <span>$2,000</span>
                                    <i class="fa fa-phone fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pagi">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>--><!--end advertisement-->
 
 </div>

<% include footer.ejs %>